@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Passion+One");

.App {
  align-items: center;
  /* background-color: lightgrey; */
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.home-container {
  align-items: center;

  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav-container {
  color: whitesmoke;
  height: 200px;
  position: fixed;
  width: 100%;
}

.nav-bar-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.introduction-section {
  align-items: center;
  background-color: #fafafa;
  color: #6a6a6a;
  display: flex;
  font-size: 30px;
  justify-content: center;
  min-height: 40vh;
  width: 100%;
}

.introduction-section-inner {
  text-align: center;
  width: 50%;
}

.parallax-title-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.project-outer-container {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0;
  width: 100%;
}

.project-inner-upper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 50%;
  margin: 0 10px;
  /* padding: 0 10px; */
}

.project-inner-lower {
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project-outer-tile {
  align-items: center;
  background-color: #444;
  display: flex;
  height: 300px;
  justify-content: center;
  margin: 1em 0;
  overflow: hidden;
  position: relative;
  width: 300px;
}

.project-header {
  font-size: 40px;
}

.project-sub-header {
  font-size: 25px;
}

.project-inner-tile {
  height: 100%;
  width: 100%;
}

.project-inner-title {
  color: #fafafa;
  position: absolute;
  margin: auto 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Passion One", cursive;
  font-size: 40px;
  text-shadow: 1px 1px 1px #333;
  letter-spacing: 3px;
}

.project-page-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  justify-content: space-between;
  width: 100%;
}

.project-page-container-upper {
  align-items: center;
  border-bottom: 1px solid #6a6a6a;
  display: flex;
  font-size: 40px;
  justify-content: space-between;
  width: 100%;
}

.skills-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 70vh;
}

.contact-container {
  align-items: center;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  overflow: auto;
  justify-content: center;
  width: 50%;
  padding: 20px 0;
}

.contact-container-upper-header {
  min-height: 10vh;
  width: 100%;
  font-size: 40px;
  display: flex;
  align-items: center;
}

.footer-text {
  align-items: center;
  color: #333;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  justify-content: center;
  width: 100%;
}

.project-carousel {
  align-items: center;
  display: flex;
  /* height: 50vh; */
  justify-content: center;
  /* margin: 0 10px; */
  width: 50%;
}

.image-slider {
  width: 100%;
  /* padding-bottom: 100%; */
  height: 60vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

.slide-arrow {
  height: 100%;
  width: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-page-description-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  background-color: #fafafa;
}

.project-page-description-display {
  color: #666;
  font-size: 25px;
  margin: 50px 0;
  width: 100%;
}

.project-page-description-skills {
  text-align: center;
  font-weight: bold;
  margin: 10px 0px;
}

.project-page-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

/* Dog Animation//////////////////////////////////////// */

.dog-frame {
  height: 300px;
  width: 300px;
  border-radius: 150px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.dog-head {
  align-items: center;
  display: flex;
  justify-content: center;
}

.dog-ears {
  background-color: rgb(43, 28, 28);
  border-radius: 25px;
  height: 100px;
  width: 30px;
}

.dog-face {
  align-items: center;
  background-color: chocolate;
  border-radius: 100px;
  box-shadow: 2px 2px 2px #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 170px;
  width: 180px;
  z-index: 1;
}

.dog-body {
  height: 250px;
  width: 125px;
  border-radius: 200px;
  background-color: lightseagreen;
  position: absolute;
  box-shadow: 5px 5px 5px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.dog-body-collar {
  display: flex;
  justify-content: center;
}

.dog-body-collar-flap {
  width: 80px;
  height: 20px;
  box-shadow: 1px 1px 1px black;
  margin: -15px 5px;
  background: gainsboro;
}

.dog-body-knot {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  width: 0;
  border: 15px solid rgb(177, 79, 79);
  border-top: 0px dotted rgba(0, 0, 0, 0);
  border-bottom: 30px dotted rgba(0, 0, 0, 0);
  border-radius: 30px;
  font: normal 100% / normal Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 1);
  -o-text-overflow: clip;
  text-overflow: clip;
  z-index: 1.5;
}

.dog-body-tie {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 21px 152px 21px;
  border-color: transparent transparent rgb(177, 79, 79) transparent;
  margin: -55px 0 0 0;
}

.dog-paws {
  position: absolute;
  bottom: 0;
  width: 50px;
  height: 45px;
  background-color: chocolate;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 3px 3px 3px #333;
  border-radius: 50px;
}

.dog-claw {
  height: 10px;
  width: 10px;
  background-color: black;
}

.dog-head-eyes-row {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dog-head-eye {
  height: 50px;
  width: 50px;
  background-color: #fafafa;
  border-radius: 50px;
  overflow: hidden;
}

.dog-head-mouth {
  width: 80%;
  background-color: tan;
  height: 50px;
  border-radius: 100px;
  box-shadow: 2px 2px 2px #333;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.dog-head-eye-pupil {
  height: 25px;
  width: 25px;
  background-color: #333;
  border-radius: 25px;
}

.dog-head-nose {
  height: 20px;
  width: 15px;
  background-color: #333;
  border-radius: 15px;
}

.dog-head-mouth-smile {
  height: 5px;
  border-radius: 15px;
  background-color: #333;
}

/* End of Dog Animation///////////////////////////////// */

@media screen and (max-width: 1700px) {
  .project-inner-upper {
    width: 60%;
  }

  .project-inner-lower {
    width: 60%;
  }

  .contact-container {
    width: 60%;
  }

  .introduction-section-inner {
    width: 60%;
  }

  .project-carousel {
    width: 60%;
  }

  .project-page-description-display {
    margin: 40px 0;
  }

  /* .project-page-description-container {
    width: 60%;
  } */
}
@media screen and (max-width: 1535px) {
  .project-inner-upper {
    width: 70%;
  }

  .project-inner-lower {
    width: 70%;
  }

  .contact-container {
    width: 70%;
  }

  .introduction-section-inner {
    width: 70%;
  }

  /* .project-carousel {
    width: 70%;
  } */

  .project-page-description-display {
    margin: 20px 0;
  }

  .project-page-description-container {
    width: 70%;
  }
}
@media screen and (max-width: 1325px) {
  .project-inner-upper {
    width: 80%;
  }

  .project-inner-lower {
    width: 80%;
  }

  .contact-container {
    width: 80%;
  }

  .introduction-section-inner {
    width: 80%;
  }

  .project-carousel {
    width: 80%;
  }

  .project-page-description-display {
    margin: 10px 0;
  }

  .project-page-description-container {
    width: 80%;
  }
}
@media screen and (max-width: 1200px) {
  .project-inner-upper {
    width: 90%;
  }

  .project-inner-lower {
    width: 90%;
  }

  .contact-container {
    width: 100%;
  }

  .introduction-section-inner {
    width: 90%;
  }

  /* .project-carousel {
    width: 90%;
  } */

  .project-page-description-container {
    width: 90%;
  }

  .project-page-icons {
    justify-content: space-around;
  }
}
@media screen and (max-width: 1025px) {
  .project-inner-upper {
    width: 95%;
  }

  .project-inner-lower {
    width: 100%;
    justify-content: space-around;
  }

  .project-carousel {
    width: 100%;
  }

  .project-page-description-display {
    width: 100%;
  }
}
@media screen and (max-width: 916px) {
  .project-sub-header {
    font-size: 20px;
  }

  .project-page-icons {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .footer-text {
    font-size: 15px;
  }
}

@media screen and (max-width: 480px) {
  .introduction-section {
    font-size: 25px;
  }
  .footer-text {
    font-size: 13px;
  }
}
