@import url("https://fonts.googleapis.com/css?family=Roboto");

.App {
  align-items: center;
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav-container {
  color: whitesmoke;
  height: 200px;
  position: fixed;
  width: 100%;
}

.introduction-section {
  align-items: center;
  background-color: "#FAFAFA";
  color: #6a6a6a;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  justify-content: center;
  min-height: 40vh;
  width: 100%;
}

@media screen and (max-width: 480px) {
  .introduction-section {
    font-size: 25px;
  }
}
